<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- ---------------------------------------------------------- -->
    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- ---------------------------------------------------------- -->
    <title>Register</title>
</head>
<body>
<!-- ---------------------------------------------------------- -->
<!--Navbar-->
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/register">Register</a>
        </li>
    </ul>
</nav>
<!-- ---------------------------------------------------------- -->
<!-- Register fields-->
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2"></div>                                                          <!--Display area 1-->
            <div class="col col-12 col-sm-8">                                                                <!--Display area 2-->
                <br><br><br><br>
                <h1 class="text-center">REGISTER</h1>
                <table class="table">
                    <tr>                                                                                     <!--Name field-->
                        <td><h5 class="text-center">Name:</h5></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>                                                                                     <!--Address field-->
                        <td><h5 class="text-center">Address:</h5></td>
                        <td><textarea name="" id="" cols="100" rows="4"></textarea></td>
                    </tr>
                    <tr>
                        <td><h5 class="text-center">Gender:</h5></td>                               	    <!--Gender Radio button field(www.w3schools.com/bootstrap4/bootstrap_forms_custom.asp)-->
                        <td>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="male" name="gender">
                                <label class="custom-control-label" for="male">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="female" name="gender">
                                <label class="custom-control-label" for="female">Female</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="other" name="gender">
                                <label class="custom-control-label" for="other">Other</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><h5 class="text-center">District:</h5></td>         <!--https://www.w3schools.com/bootstrap4/bootstrap_forms_custom.asp-->
                        <td>
                            <form>
                                <select name="districts" class="custom-select">
                                    <option selected>Select</option>
                                    <option value="tvm">Thiruvananthapuram</option>
                                    <option value="klm">Kollam</option>
                                    <option value="alp">Alappuzha</option>
                                    <option value="pth">Pathanamthitta</option>
                                    <option value="ktm">Kottayam</option>
                                    <option value="idk">Idukki</option>
                                    <option value="ekm">Ernakulam</option>
                                    <option value="tsr">Thrissur</option>
                                    <option value="pkd">Palakkad</option>
                                    <option value="mlp">Malappuram</option>
                                    <option value="kzk">Kozhikode</option>
                                    <option value="wyn">Wayanadu</option>
                                    <option value="knr">Kannur</option>
                                    <option value="ksr">Kasaragod</option>
                                </select>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
<!-- --------------- -->
<!--Display area 3-->
            <div class="col col-12 col-sm-2"></div>
<!-- --------------- -->
        </div>
    </div>
<!-- ---------------------------------------------------------- -->
</body>
</html>